#navbar-photo {
    max-height: 64px;
}

.tweet {
    /* max-width: 300px; */
    /* height: 250px; */
    border-radius: 10px;
    border: 1px solid black;
    font-size: 12px;
}

#tweetContainer {

    flex-wrap: wrap;
    height: 40vh;
    overflow: auto;
    

}
.box {
    height: 160px;
}
#tweetContent {

    margin-top: 30px;

}

#stocks {
    background-color: ivory;
}